.tri {
    width: 26px;
    transform-origin: center right;
    animation: flash 2s infinite ease-out;
    position: fixed;
    top: 50px;
    right: 80px;
}
@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
img.purple.load {
    top: 160px;
    opacity: .9;
    width: 290px;
}
img.dark-green.load {
    top: 160px;
    opacity: .9;
    width: 160px;
}
img.pink {
    display: none;
}
img.pink.load {
    display: inherit;
    position: fixed;
    top: 50px;
    right: 60px;
    width: 110px;
    z-index: -1;
}
.verti-icon {
    position: fixed;
    right: 80px;
    top: 20px;
}
.bg-triangle {
    position: fixed;
}
img.purple {
    opacity: .83;
    width: 59px;
    top: 257px;
    right: 5px;
    z-index: 4;
    transition: all .1s ease-out;
}
img.purple.big {
    top: 170px;
    opacity: .95;
    width: 440px; /* cuz purple triangle is moved to the left a bit */
}
img.dark-green {
    opacity: .95;
    width: 85px;
    z-index: 101;
    top: 51px;
    transition: all .1s ease-out;
}
img.dark-green.big {
    opacity: 1;
    width: 290px;
}
.corner-icon {
    position: fixed;
    width: 450px;
    height: auto;
    z-index: 3;
    left: 2px;
    bottom: 0;
}
.triangle {
    width: 67%;
    position: fixed;
    top: -53px;
}
.logo-map {
    position: fixed;
    bottom: -7px;
    width: 100%;
}
.logo-map img {
    width: 100%;
    bottom: -20px;
}
.event-type-icon {
    float: right;
    width: 37px;
    top: -10px;
}
.featuredImg {
    width: 93%;
    height: auto;
}
.lang-icon {
    height: .8em;
    margin: 1em .2em 0 0;
}
.location, .lang-icon {
    width: 13px;
    height: auto;
    margin-right: 5px;
}
