* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
body {
    display: grid;
    grid-template-columns: 2fr 7fr;

}
aside {
    border-right: 1px solid black;
    overflow: scroll;
}
aside p {
    margin: 3em 0 1em;
}
li {
    margin-bottom: .5em;
}
.month p span {
    margin: 1em;
}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3px;
}
.days span.fade {
    opacity: .5;
}
.date-filter a, .month {
    grid-column: 1/-1;
}
.day {
    border-bottom: 1px solid black;
}
main {
    background: lightgrey;
}
.eventList h2, .eventList img:not(.featuredImg) {
    display: inline-block;
}
.singleEvent {
    padding: 30px;
}
.featuredImg {
    width: 80%;
    height: auto;
}
.hide {
    display: none;
}
