* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
@font-face {
    font-family: title-bold;
    src: url(../font/avenir-next-demi-bold.ttf);
}
@font-face {
    font-family: text-medium;
    src: url(../font/avenir-next-medium.ttf);
}
@font-face {
    font-family: huset;
    src: url(../font/huset-regular.otf);
}
:root {
    --blue: #d4edf5;
    --red: #c63538;
    --purple: #15174a;
    --pink: #f8dce3;
    --white: #fffffe;
    --grey: #8a8b8a;
    --black: #1b1919;
    --dark-green: #29562d;
    --light-green: #d8e9cb;
}
.bg-triangle {
    position: fixed;
}
img.purple {
    opacity: .83;
    width: 59px;
    top: 217px;
    right: 5px;
    z-index: 4;
    transition: all .1s ease-out;
}
img.purple.big {
    top: 160px;
    opacity: .95;
    width: 400px;
}
img.dark-green {
    opacity: .95;
    width: 85px;
    z-index: 101;
    top: 51px;
    transition: all .1s ease-out;
}
img.dark-green.big {
    opacity: 1;
    width: 290px;
}
.corner-icon {
    position: fixed;
    width: 100vw;
    max-width: 450px;
    height: auto;
    z-index: 2;
    left: 2px;
    bottom: 0;
}
ul {
    list-style-type: none;
}
li {
    margin-top: .9em;
}
a {
    display: block;
    color: var(--black);
}
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: text-medium;
}
aside {
    z-index: 102;
    position: fixed;
    left: -5px;
    top: 70px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 3s ease-out;
    transition: height .0001s;
}
aside.narrow {
    width: 90px;
}
aside.tilt {
    width: 330px;
    transform: rotate(-45deg) translateX(-230px) translateY(30px);
    transform-origin: 5% 33%;
    overflow: visible;
}
aside.expand {
    background: var(--black);
    opacity: .97;
    width: 79%;
    height: calc( 100vh + 70px); /* had to move content position for functionality, so the height of aside gets longer than 100vh, need to set this way to avoid scrolling */
    z-index: 1;
    padding: 30px 0 30px 30px;
}
aside>p:not(.current-type), .calendar>p {
    margin: 1.5em 0 1em;
    font-size: .7em;
    color: var(--dark-green);
}
.current-type {
    font-size: .8em;
    color: var(--white);
    opacity: .7;
}
aside.tilt .by-type {
    text-align: right;
    text-decoration: underline;
}
.close-by-type {
    display: none;
}
aside.tilt .close-by-type {
    color: var(--light-green);
    display: inherit;
    text-align: right;
    font-size: 1.1em;
}
.type-filter {
    height: 0;
    transition: height .2s .1s ease-out;
}
.type-filter.expand-type-filter {
    height: auto;
}
.type-filter a {
    text-decoration: none;
}
.type-filter li a.chosen {
    margin-top: 1.3em;
    z-index: 2;
}
.type-filter li a.chosen, a.chosen p {
/*    text-decoration: underline;*/
    color: var(--light-green);
    font-size: 1.2em;
    line-height: 1em;
}
a.chosen p {
/*    transform: rotate(-90deg) translateY(13px) translateX(10px);*/
}
.genre-line {
    text-align: right;
}
.type-filter .genre-sub {
    font-size: .7em;
    color: var(--light-green);
    display: inline-block;
    margin-left: 1em;
    text-decoration: underline;
}
.type-icon {
    width: 40px;
    left: 29px;
    top: -19px;
}
.major-category {
    margin-top: .9em;
}
.major-category p, .all-types a {
    color: var(--light-green);
    text-align: right;
    font-size: .9em;
    line-height: 1em;
}
.calendar {
    z-index: 4;
    position: fixed;
    right: 5px;
    top: 240px;
}
.calendar.expand {
    width: 300px;
    z-index: 11;
    top: 340px;

}
.calendar .by-date {
    text-align: left;
    z-index: 7;
    color: var(--purple);
    transform: translate(5px) rotate(-90deg);
}
main {
    grid-column-start: 2;
    overflow: hidden;
}
.triangle {
    width: 70%;
    position: fixed;
    top: -53px;
}
.logo-map {
    position: fixed;
    bottom: -7px;
    width: 100%;
    z-index: 3;
}
.date-filter {
    z-index: 12;
    width: 230px;
    left: 65px;
    top: -53px;
    /*margin: 40px 0 0 0;  keep close calendar button and open calender button at similar location on screen for better user experience. can't assure same location as "by Date" will move depending on which category is sellected */
}
.close-calender {
    text-align: right;
    font-size: .7em;
    padding-right: 11px;
    margin-bottom: 1em;
}
.close-calender span.X {
    font-size: 1.3em;
    color: var(--pink);
}
.close-calender span:not(.X) {
    color: var(--pink);
    opacity: .2;
}
p.button {
    display: inline-block;
    font-size: 1.3em;
    z-index: 7;
    top: 10px;
    color: var(--pink);
    left: 65px;
}
p.miusMonth {
    left: 30px;
}
p.plusMonth {
    left: 187px;
}
.month p span:nth-of-type(3) {
    width: 30px;
    margin-left: 125px;
    font-family: title-bold;
    font-size: 1.3em;
    color: var(--pink);
}
.month p span:nth-of-type(2){
    display: none;
}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3px;
}
.days span.fade {
    opacity: .5;
}
.date-filter a, .month {
    grid-column: 1/-1;
}
.month {
    top: -20px;
}
.day {
    margin-top: .5em;
    color: var(--pink);
    opacity: .2;
}
.day.match {
    color: var(--pink);
    opacity: 1;
}
.match-day-clicked {
    animation: loadEventOnDate 1s forwards ease-out;
}
@keyframes loadEventOnDate {
    to {
    opacity: 0;
    }
}
.hint {
    grid-column: 1/-1;
    color: var(--pink);
    font-size: .6em;
    margin-top: 1em;
}
.loading-dots {
    display: inline-block;
    white-space: nowrap;
    font-size: 2em;
    overflow: hidden;
    animation: loading-dots 4s steps(8) infinite;
}
@keyframes loading-dots {
    from {
        width: 0ch;
    }
    to {
        width: 7ch;
    }
}
.singleEvent .red {
    color: var(--red);
    font-size: .67em;
}
.read-more {
    padding-bottom: 1em;
}
.eventList {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 30vh; /* so the list won't cover the logo area and test of visiblebottom function still works */
}
.eventList h1 {
    font-size: 1em;
    font-family: title-bold;
    overflow: hidden;
    background: white;
    padding: 0 0 1em 0;
}
.eventList p {
    font-size: .9em;
}
.eventList h2, .eventList img:not(.featuredImg) {
    display: inline-block;
    font-family: title-bold;
    font-size: 13px;
}
.eventList h2 {
    border-top: 2px solid var(--black);
}
.singleEvent, .singleEventOnDate {
    width: 90%;
    padding: 10px 10px 20px 25px;
}
/*
.singleEvent p, .singleEventOnDate p, .singleEvent h1, .singleEventOnDate h1 {
    background: white;
} */
.event-type-icon {
    float: right;
    width: 37px;
    top: -10px;
}
.featuredImg {
    width: 95%;
    height: auto;
}
.cfP {
    text-transform: uppercase;
    padding-top: .7em;
}
.lang-icon {
    height: .8em;
    margin: 1em .2em 0 0;
}
.blockA {
    font-size: .83em;
}
.location, .lang-icon {
    width: 13px;
    height: auto;
    margin-right: 5px;
}
span.lang {
    font-size: .8em;
}
.extra-margin {
    margin: 1em 0;
}
a.inline {
    display: inline;
}
.hide {
    display: none;
}
.d0101 {
    grid-column-start: 2;
}
