.animation {
    position: fixed;
    top: 400px;
    left: 100px;
}
.letters {
    position: absolute;
    left: 0;
    bottom: 0;
}
.tri {
    position: fixed;
    top: 267px;
    left: 150px;
    animation: turn 1.2s 1.23s cubic-bezier(0, 0, 0.35, 1.22) forwards;
    transform-origin: top center;
}
@keyframes turn {
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform:  rotate(270deg);
    }
}
.hide {
    display: none;
}
