* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.blockA {
    display: block;
}
.movieTitle {
    font-size: 1.3em;
}
p.extraInfo {
    max-height: 7em;
    overflow: scroll;
    border-bottom: 1px dotted black;
    margin-bottom: 1em;
}
.cfP {
    text-transform: uppercase;
    font-size: .7em;
}



.red {
    color: red;
}
.hide {
    display: none;
}
