.featuredImg-small {
    width: 100%;
}
.singleEventPage {
    width: 95%;
    padding: 2em 0 50vw;
    display: grid;
    grid-template-columns: 7fr 3fr;
}
.singleEventPage * {
    grid-column: 1/-1;
}
.singleEventPage h1 {
    grid-column: 1/2
}
.singleEventPage h2 {
    border-top: none;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}
.singleEventPage .featuredImg-small {
    grid-column: 2/-1
}
.underline {
    text-decoration: underline;
}
.description {
    font-size: .9em;
}
.genre p, .release_year p, .title p, .director p {
    font-size: .7em;
}
.d3 {
    position: fixed;
    bottom: -5px;
    right: 10px;
}
