.featuredImg-small {
    width: 100%;
}
.singleEventPage {
    width: 95%;
    padding: 2em 5px 250px 0;
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-column-gap: 7px;
}
.singleEventPage * {
    grid-column: 1/-1;
}
.singleEventPage h1 {
    grid-column: 1/2
}
.singleEventPage h2 {
    border-top: none;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}
.singleEventPage .featuredImg-small {
    grid-column: 2/-1
}
.underline {
    text-decoration: underline;
}
.description {
    font-size: .9em;
}
.genre p, .release_year p, .title p, .director p, .player p, .mechanism p, .name_of_game p, .release_year_of_game p {
    font-size: .7em;
}
.related-event {
    font-size: .8em;
}
.d3 {
    position: fixed;
    bottom: -5px;
    right: 10px;
}
